<html>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<body>

	<a href=/enter>enter</a> | 
	<a href=/list>list</a> |

	<a href=/sources>sources</a>
	<p>
		<hr>
		{{{body}}}
</body>

</html>