
<script src="//code.jquery.com/jquery-1.10.2.js"></script>

Enter new source

<form id="sources">
    <table>
        <tr>
            <td>tag: </td>
            <td>
                <input type="text" id="tag">
            </td>
        </tr>
        <tr>
            <td>full: </td>
            <td>
                <input type="text" id="full">
            </td>

        </tr>
    </table>

</form>
<button id=save>save</button>
<script>
    $("#save").click(savefn);
    function savefn (event) {
        let myForm = document.forms["sources"]
        let data = {
            tag: myForm.tag.value.trim(),
            full: myForm.full.value.trim(),
        }
        $.ajax({
            url: "/saveSource",
            type: "POST",
            data,
            datatype: "json",
            success: function (data) {
                myForm.tag.value = "";
                myForm.full.value = "";
                // refresh the page to force a rebuild of the select widget with the new value
            }
        })
    }
</script>
Select source

List sources (with statistics?)