<h1>Show sources here</h1>

Enter new source

<form id="sources">
    <table>
        <tr>
            <td>id: </td>
            <td>
                <input type="text" id="id">
            </td>
        </tr>
        <tr>
            <td>full: </td>
            <td>
                <input type="text" id="full">
            </td>

        </tr>
    </table>

</form>
<button id=save>save</button>
<script>
    $("#save").click(savefn);
    function savefn (event) {
        TODO:
    }
</script>
Select source

List sources (with statistics?)